---
---

@import "{{ site.theme }}";

.task-list-item {
  list-style-type: none;
}

.task-list-item-checkbox {
  margin-right: 0.5em;
}

.markdown-body ul, .markdown-body ol {
  padding-left: 2em;
}
.markdown-body .task-list-item {
  margin-left: -1.5em;
}
