<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/custom.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
<body>
  {{ content }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
  <script>anchors.add();</script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Add button
      const button = document.createElement('button');
      button.id = 'randomTaskButton';
      button.innerHTML = '✨ Select random topic';
      document.body.appendChild(button);
    
      const topicItems = document.querySelectorAll('.markdown-body > ul > li.task-list-item');
      let currentHighlight = null;
    
      function getFirstTextNode(element) {
        for (let node of element.childNodes) {
          if (node.nodeType === Node.TEXT_NODE && node.textContent.trim() !== '') {
            return node;
          }
        }
        return null;
      }
    
      button.addEventListener('click', function() {
        if (currentHighlight) {
          currentHighlight.classList.remove('highlight-task');
        }
    
        const randomtopic = topicItems[Math.floor(Math.random() * topicItems.length)];
        const textNode = getFirstTextNode(randomtopic);
        
        if (textNode) {
          const span = document.createElement('span');
          span.className = 'highlight-task';
          textNode.parentNode.insertBefore(span, textNode);
          span.appendChild(textNode);
          currentHighlight = span;
        } else {
          randomtopic.classList.add('highlight-task');
          currentHighlight = randomtopic;
        }
    
        randomtopic.scrollIntoView({behavior: 'smooth', block: 'center'});
      });
    
      document.addEventListener('click', function(event) {
        if (event.target !== button && currentHighlight) {
          if (currentHighlight.tagName === 'SPAN') {
            const parent = currentHighlight.parentNode;
            parent.insertBefore(currentHighlight.firstChild, currentHighlight);
            parent.removeChild(currentHighlight);
          } else {
            currentHighlight.classList.remove('highlight-task');
          }
          currentHighlight = null;
        }
      });
    });
  </script>
</body>
</html>
